node_modules
.DS_Store
coverage
dist
script1.saved.yml
*.tgz
api-docs
tmp1.mp3
test/fixtures/script1.tts
test/fixtures/script2.tts
test/fixtures/script3.tts
test/fixtures/script4.tts
test/fixtures/scriptT.tts
demo.sh
test/fixtures/demo.*

